.question-box {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    width: 200px;
}

.question-box-title {
    background-color: gray;
}

.question-attribute {
    background-color: lightgray;
}

.question-box div {
    margin: 2px
}